@font-face {
  font-family: 'COLBO';
  src: url("static/Colbo/COLBO-LightExtended.otf") format("opentype");
}
*,body, html{
  font-family : "COLBO!important"
}
.input_style {
    width: 100%;
    height: 40px;
    border-top-right-radius: 15px;
    text-align: right;
    border: none;
    padding-right: 20%;
    font-family : "COLBO"
  }
.input_label {
    position: relative;
    color: red;
    float: right;
    right: 5%;
    top:50%;
    font-family : "COLBO"
  }
p{
  font-family : "COLBO"

}
  label{
    font-family : "COLBO"

  }
  button{

    font-family : "COLBO"
  }
  p{
    font-family : "COLBO"
  }
video{
  object-fit: cover;
}
.background {
  background-image: url('static/image/one_background.png');
  width: 100%;
  height: 100%;
}
.background1 {
  background-image: url('static/image/one_background.png');
  width: 100%;
  height: 100%;
}
.background2 {
  background-image: url('static/image/two-3.png');
  width: 100%;
  height: 100%;
}

.background3 {
  background-image: url('static/image/three-2.png');
  width: 100%;
  height: 100%;
}

.hovered{
    transition:1s;
    width:100%;
    margin-right:0px;
    position: absolute;
    top : 0px;
    left: 0px;
    height: 100%;
    padding: 10px;
    direction: rtl;
    /* width: 165%; */
}
.hoveredParent:hover div{
    margin-left:-100%;
}

.buttonhoverd:hover{
    margin-right: 0px;
}

.buttonhoverd{
  margin-right: -85px;
  transition:0.5s;
}

.hoveredParent{
    overflow: hidden;
    position : relative;
    border-top-left-radius : 15px; 
}
.hoveredParent1{
  overflow: hidden;
  position : relative;
  width: 165px;
  border-top-left-radius : 15px; 
}
.input_div{
    width: 50%;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .new {
    padding: 50px;
  }
  
  .form-group {
    display: block;
    margin-bottom: 15px;
  }
  
  .form-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
  }
  
  .form-group label {
    position: relative;
    cursor: pointer;
  }
  
  .form-group label:before {
    content:'';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid #0079bf;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
  }
  
  .form-group input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 9px;
    width: 6px;
    height: 14px;
    border: solid #0079bf;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

  .box1{
    flex-grow: 1;
    width: 100%;
    min-height: auto;
    background-color: #232323;
  }
  .box2{
    flex-grow: 1;
    width: 100%;
    min-height: auto;
  }

  .main_button {
    width: 100px;
    height: 100px;
    background-color: #ff1650;
    border: none;
    color: white;
    font-size: 25px;
  }
  .video_player {
    position: fixed;
    z-index: -10;
    left: 49%;
    /* height: 115vh; */
    overflow: hidden;
    width: 51%;
    height: 100%;
  }
  .main_player{
    position: relative;
  }
  .main_grid {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }

  .main_click{
    position: relative;
  }
  .mclock{
    top: -4px;
    left: 8px;
    position: absolute;
    height: 100%;
  }