@font-face {
  font-family: 'COLBO';
  src: url("static/Colbo/COLBO-LightExtended.otf") format("opentype");
}
*,body, html{
  font-family : "COLBO!important"
}
.input_style {
  width: 100%;
  height: 2.3vw;
  border-top-right-radius: 1vw;
  text-align: right;
  border: none;
  padding-right: 3.5vw;
  font-family: "COLBO";
  }
  .input_label_1 {
    position: relative;
    color: red;
    float: right;
    right: 0.9vw;
    top: 1.8vw;
    font-family: "COLBO";
    font-size: 0.8vw;
    }
.input_label {
  position: relative;
  color: red;
  float: right;
  right: 0.9vw;
  top: 50%;
  font-family: "COLBO";
  font-size: 0.8vw;
  }
  .grid_input_1{
    margin-top: -1vw;

  }
p{
  font-family : "COLBO"

}
  label{
    font-family : "COLBO"

  }
  button{

    font-family : "COLBO"
  }
  p{
    font-family : "COLBO"
  }
video{
  object-fit: cover;
  /* height: auto!important; */
  /* width: initial!important; */
}
.background {
  background-image: url('static/image/one_background.png');
  width: 100%;
}
.background1 {
  background-image: url('static/image/one_background.png');
  width: 100%;
}
.background2 {
  background-image: url('static/image/two-3.png');
  width: 100%;
}

.background3 {
  background-image: url('static/image/three-2.png');
  width: 100%;
}

.hovered{
    transition:1s;
    width:100%;
    margin-right:0px;
    position: absolute;
    top : 0px;
    left: 0px;
    height: 100%;
    padding: 10px;
    direction: rtl;
    /* width: 165%; */
}
.hoveredParent:hover div{
    margin-left:-100%;
}

.buttonhoverd:hover{
    margin-right: 0px;
}

.buttonhoverd{
  margin-right: -4.5vw;
  transition:0.5s;
}

.hoveredParent{
    overflow: hidden;
    position : relative;
    height: 5vw;
    width: 8.4vw;
    border-top-left-radius : 0.7vw;
    font-size: 0.7vw;
}
.hoveredParent1{
  overflow: hidden;
  position : relative;
  width: 165px;
  border-top-left-radius : 0.8vw; 
}
.input_div{
    width: 50%;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .new {
    padding: 50px;
  }
  
  .form-group {
    display: block;
    margin-bottom: 15px;
  }
  
  .form-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
  }
  
  .form-group label {
    position: relative;
    cursor: pointer;
  }
  
  .form-group label:before {
    content:'';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid #0079bf;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
  }
  
  .form-group input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 9px;
    width: 6px;
    height: 14px;
    border: solid #0079bf;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

  .box1{
    flex-grow: 1;
    width: 100%;
    min-height: auto;
    background-color: #232323;
  }
  .box2{
    flex-grow: 1;
    width: 100%;
    min-height: auto;
  }

  .main_button {
    width: 6vw;
    height: 6vw;
    background-color: #ff1650;
    border: none;
    color: white;
    font-size: 1.2vw;
    font-weight: bold;
  }
  .video_player {
    object-fit: cover;
    position: fixed;
    z-index: -10;
    left: 49%;
    /* height: 115vh; */
    /* overflow: hidden; */
    width: 51%!important;
    height: 102%!important;
  }
  .main_player{
    position: relative;
  }
  .main_grid {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }

  .main_click{
    position: relative;
    width: 25vw;
  }

  .main_click_1{
    position: relative;
    width: 38vw;
  }

  .mclock{
    top: -1vw;
    left: -0.4vw;
    position: absolute;
    height: 5vw;
  }
  .mclock_1{
    top: -4px;
    left: 8px;
    position: absolute;
    height: 5vw;
  }
  .grid_title{
    justify-content: center;
    display: grid;
  }
  .grid_header{
    justify-content: center;
    padding: 0 10vw;
  }
  .grid_header_1{
    justify-content: center;
    display: flex;
  }
  .grid_header1{
    font-size: 1.2vw;
    width: 80%;
    padding: 1% 10%;
    text-align: center;
    direction: rtl;
    font-weight: bold;
    color: #fcb038;
  }
  .grid_title_1{
    color: white;
    text-align: center;
    font-size: 3.5vw;
    font-weight: bolder;
    height: 3.5vw;
    top: -1.1vw;
    position: relative;
  }
  .text_header {
    color: white;
    font-size: 1.4vw;
    font-weight: bolder;
    direction: rtl;
  }
  .text_body{
    color: rgb(200, 200, 200);
    font-size: 1.2vw;
    width: 97%;
    padding: 1% 10%;
    text-align: center;
    direction: rtl;
  }
  .bottom_text_1{
    color: rgb(200, 200, 200);
    font-size: 1.2vw;
    text-align: center;
    direction: rtl;
    padding-top: 2vw;
  }
  .bottom_text_2{
    font-size: 3vw;
    font-weight: bolder;
    text-align: center;
    color: rgb(252, 176, 56);
    direction: rtl;
    margin-top: -1vw;
  }
  .bottom_text_3{
    text-align: right;
    color: rgb(200, 200, 200);
    font-size: 0.8vw;
    direction: rtl;
  }
  .bottom_text_4{
    text-align: center;
    color: rgb(200, 200, 200);
    font-size: 0.8vw;
    direction: rtl;
  }
  .button_1{
    width: 100px;
    background-color: rgb(255, 22, 80);
    border: none;
    color: white;
    border-top-right-radius: 1vw;
    font-size: 1.2vw;
    height: 3vw;
  }
  .button_2{
    float: right;
    position: relative;
    align-items: inherit;
    display: flex;
    align-items: center;
  }